.cart-content-container{
    padding-top: 100px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 100vh;
    width: 98vw;
    display: flex;
    flex-direction: column;
}

.K{
    color: red;
}
@media screen and (max-width: 600px) {
    .cart-heading{
        color: green;
    }
    .remove-all-btn{
        background-color: green;
        min-height: 6vh;
        width: 30vw;
        background-size: cover;
        font-size: 15px;
        color: #fff;
        border: 2px solid green;
        border-radius: 8px;
        outline: none;
        align-self: flex-end;
    }
}