@media screen and (max-width: 600px){
.ulDirect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
  border-bottom: 2px solid #dfe2e5;
}

.ProductContainer{
    background-color: #edebeb;
    min-height: 100vh;
    max-width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.ProductContainer h1{
    color: Green;
    text-align: center;
}

.TabListContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    list-style: none;
    min-height: 5vh;
    width: 80vw;
}

.ProductCardContainer{
    background-color: transparent;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;    
}

.ProductRow{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90vw;
}

.ProductInput{
    background-color: transparent;
    width: 80vw;
    height: 8vh;
    background-size: cover;
    border: 2px solid green;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.IconBtnProduct{
    width: 15vw;
    color: green;
}

.ProductInput input{
    background-color: #70a16d;
    height: 7vh;
    width: 75vw;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    outline: none;
    background-size: cover;
    color: #fff;
    border: none;
    font-size: 15px;
}

.ProductInput input::placeholder{
    color: #fff;
}
}

@media screen and (min-width: 601px) and (max-width: 899px){
.ulDirect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
  border-bottom: 2px solid #dfe2e5;
}

.ProductContainer{
    background-color: #edebeb;
    min-height: 100vh;
    max-width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.ProductContainer h1{
    color: Green;
    text-align: center;
}

.TabListContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    min-height: 5vh;
    width: 80vw;
}

.ProductCardContainer{
    background-color: transparent;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;    
}

.ProductRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
}

.ProductInput{
    background-color: transparent;
    width: 30vw;
    height: 8vh;
    background-size: cover;
    border: 2px solid green;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.IconBtnProduct{
    width: 5vw;
    color: green;
}

.ProductInput input{
    background-color: #70a16d;
    height: 7vh;
    width: 25vw;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    outline: none;
    background-size: cover;
    color: #fff;
    border: none;
    font-size: 15px;
}

.ProductInput input::placeholder{
    color: #fff;
}
}

@media screen and (min-width: 900px){
.ulDirect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  list-style: none;
  text-align: center;
  border-bottom: 2px solid #dfe2e5;
}

.ProductContainer{
    background-color: #edebeb;
    min-height: 100vh;
    max-width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.ProductContainer h1{
    color: Green;
    text-align: center;
}

.TabListContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    min-height: 5vh;
    width: 80vw;
}

.ProductCardContainer{
    background-color: transparent;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;    
}

.ProductRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90vw;
}

.ProductInput{
    background-color: transparent;
    width: 30vw;
    height: 8vh;
    background-size: cover;
    border: 2px solid green;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.IconBtnProduct{
    width: 5vw;
    color: green;
}

.ProductInput input{
    background-color: #70a16d;
    height: 7vh;
    width: 30vw;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    outline: none;
    background-size: cover;
    color: #fff;
    border: none;
    font-size: 15px;
}

.ProductInput input::placeholder{
    color: #fff;
}
}