@media screen and (max-width: 600px){
  .cart-empty-view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-top: 100px;
  }
  .cart-empty-img {
    width: 360px;
    height: 380px;
  }
  .cart-empty-heading {
    color: #1e293b;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 500;
  }
  .cart-empty-heading {
    font-size: 32px;
  }
  .shop-now-btn {
    background-color: green;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 12px;
    border-radius: 8px;
    border: none;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    outline: none;
    cursor: pointer;
  }

}

@media screen and (min-width: 601px) and (max-width: 899px) {
  .cart-empty-view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-top: 100px;
  }
  .cart-empty-img {
    width: 360px;
    height: 380px;
  }
  .cart-empty-heading {
    color: #1e293b;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 500;
  }
  .cart-empty-heading {
    font-size: 32px;
  }
  .shop-now-btn {
    background-color: green;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 12px;
    border-radius: 8px;
    border: none;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    outline: none;
    cursor: pointer;
  }

}
@media screen and (min-width: 900px) and (max-width: 1700px) {
  .cart-empty-view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-top: 150px;
  }
  .cart-empty-img {
    width: 360px;
    height: 380px;
  }
  .cart-empty-heading {
    color: #1e293b;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 500;
  }
  .cart-empty-heading {
    font-size: 32px;
  }
  .shop-now-btn {
    background-color: green;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 12px;
    border-radius: 8px;
    border: none;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    outline: none;
    cursor: pointer;
  }

}

@media screen and (min-width: 1701px){
  .cart-empty-view-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding-top: 300px;
  }
  .cart-empty-img {
    width: 1000px;
    height: 1000px;
  }
  .cart-empty-heading {
    color: #1e293b;
    font-family: 'Roboto';
    font-size: 24px;
    font-weight: 500;
  }
  .cart-empty-heading {
    font-size: 52px;
  }
  .shop-now-btn {
    background-color: green;
    color: #ffffff;
    font-family: 'Roboto';
    font-size: 42px;
    border-radius: 8px;
    border: none;
    padding-left: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    outline: none;
    cursor: pointer;
    min-height: 8vh;
    font-weight: bold;
    min-width: 15vw;
  }
}

