@media screen and (max-width: 576px){
.FooterMainContainer{
    display: flex;
    flex-direction: column;
}
.FooterContainer{
    background-color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 1px 0px gray;
    padding-top: 20px;
}

.FooterCard1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 40vh;
    width: 80vw;
    padding: 10px;
}

.FooterCardDetails1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.FooterCardDetails1 h1{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #1b1c1b;
}

.FooterCardDetails1 p{
    color: #666262;
    font-size: 14px;
}

.FooterCard2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.FooterCard4{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    min-width: 23vw;
}

.FooterCard4 p{
    color: #666262;
    font-size: 20px;
    font-weight: 500;
    line-height: 2%;
}

.FooterCard4 input{
    background-color: #edebeb;
    background-size: cover;
    min-width: 20vw;
    border-radius: 8px;
    border: 2px solid #edebeb;
    height: 8vh;
    color: black;
    font-size: 20px;
    padding-left: 5px;
}

.FooterCard4 button{
    background-color: transparent;
    background-size: cover;
    min-width: 10vw;
    border-radius: 8px;
    border: 2px solid #1b1c1b;
    height: 8vh;
    color: #1b1c1b;
    font-size: 20px;
    margin-top: 10px;
}

.HeaderIconBtn{
    background-color: #dbded9;
    height: 5vh;
    min-width: 3vw;
    background-size: cover;
    border: 1px solid #dbded9;
    border-radius: 2px;
    margin: 5px;
    font-size: 15px;
    color: green;
}

.HeaderIconBtn:hover{
    background-color: green;
    height: 5vh;
    min-width: 3vw;
    background-size: cover;
    border: 1px solid green;
    border-radius: 2px;
    margin: 5px;
    font-size: 15px;
    color: #dbded9;
}

.FooterCard4 button:hover{
    background-color: #1b1c1b;
    background-size: cover;
    width: 10vw;
    border-radius: 8px;
    border: 2px solid #1b1c1b;
    height: 8vh;
    color: #ffffff;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.FooterCardLi{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #666262;
    font-size: 14px;
    padding: 4px;
    cursor: pointer;
}

.FooterCardLi:hover{
    color: green;
}

.FooterCardLis{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #666262;
    font-size: 14px;
    padding: 4px;
    cursor: pointer;
}

.FooterCardLis:hover{
    color: green;
    font-size: 16px;
}

.FontAwesomeIconText{
    padding-right: 3px;
}

.HeadingFooter{
    color:  #1b1c1b;
    font-size: 30px;
    font-weight: 500;
}

.CarImg{
    height: 120px;
    width: 300px;
}

.FooterContainer1{
    background-color: #ffffff;
    min-height: 7vh;
    background-size: cover;
    border-top: 1.5px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FooterContainer1 p{
    color: #666262;
    font-weight: 500;
    text-align: center;
    padding: 10px;
}

.FooterContainer1 span{
    color: green;
    font-weight: 500;
}
}

@media screen and (min-width: 577px) and (max-width: 899px){
.FooterMainContainer{
    display: flex;
    flex-direction: column;
}
.FooterContainer{
    background-color: white;
    background-size: cover;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 1px 0px gray;
    padding-top: 20px;
}

.FooterCard1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 40vh;
    width: 80vw;
    padding: 10px;
}

.FooterCardDetails1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.FooterCardDetails1 h1{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #1b1c1b;
}

.FooterCardDetails1 p{
    color: #666262;
    font-size: 14px;
}

.FooterCard2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.FooterCard4{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    min-width: 23vw;
}

.FooterCard4 p{
    color: #666262;
    font-size: 20px;
    font-weight: 500;
    line-height: 2%;
}

.FooterCard4 input{
    background-color: #edebeb;
    background-size: cover;
    min-width: 20vw;
    border-radius: 8px;
    border: 2px solid #edebeb;
    height: 8vh;
    color: black;
    font-size: 20px;
    padding-left: 5px;
}

.FooterCard4 button{
    background-color: transparent;
    background-size: cover;
    min-width: 10vw;
    border-radius: 8px;
    border: 2px solid #1b1c1b;
    height: 8vh;
    color: #1b1c1b;
    font-size: 20px;
    margin-top: 10px;
}

.HeaderIconBtn{
    background-color: #dbded9;
    height: 5vh;
    min-width: 3vw;
    background-size: cover;
    border: 1px solid #dbded9;
    border-radius: 2px;
    margin: 5px;
    font-size: 15px;
    color: green;
}

.HeaderIconBtn:hover{
    background-color: green;
    height: 5vh;
    min-width: 3vw;
    background-size: cover;
    border: 1px solid green;
    border-radius: 2px;
    margin: 5px;
    font-size: 15px;
    color: #dbded9;
}

.FooterCard4 button:hover{
    background-color: #1b1c1b;
    background-size: cover;
    width: 10vw;
    border-radius: 8px;
    border: 2px solid #1b1c1b;
    height: 8vh;
    color: #ffffff;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.FooterCardLi{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #666262;
    font-size: 14px;
    padding: 4px;
    cursor: pointer;
}

.FooterCardLi:hover{
    color: green;
}

.FooterCardLis{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #666262;
    font-size: 14px;
    padding: 4px;
    cursor: pointer;
}

.FooterCardLis:hover{
    color: green;
    font-size: 16px;
}

.FontAwesomeIconText{
    padding-right: 3px;
}

.HeadingFooter{
    color:  #1b1c1b;
    font-size: 30px;
    font-weight: 500;
}

.CarImg{
    height: 120px;
    width: 300px;
}

.FooterContainer1{
    background-color: #ffffff;
    min-height: 7vh;
    background-size: cover;
    border-top: 1.5px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FooterContainer1 p{
    color: #666262;
    font-weight: 500;
    text-align: center;
    padding: 10px;
}

.FooterContainer1 span{
    color: green;
    font-weight: 500;
}
}

@media screen and (min-width: 900px) and (max-width: 1700px){
.FooterMainContainer{
    display: flex;
    flex-direction: column;
}

.FooterContainer{
    background-color: white;
    background-size: cover;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 1px 0px gray;
    padding-top: 20px;
}

.FooterCard1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-size: cover;
    height: 40vh;
    width: 25vw;
    padding: 10px;
}

.FooterCardDetails1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.FooterCardDetails1 h1{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #1b1c1b;
}

.FooterCardDetails1 p{
    color: #666262;
    font-size: 14px;
}

.FooterCard2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.FooterCard4{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    width: 23vw;
    margin-left: 40px;
}

.FooterCard4 p{
    color: #666262;
    font-size: 20px;
    font-weight: 500;
}

.FooterCard4 input{
    background-color: #edebeb;
    background-size: cover;
    width: 20vw;
    border-radius: 8px;
    border: 2px solid #edebeb;
    height: 8vh;
    color: black;
    font-size: 20px;
    padding-left: 5px;
}

.FooterCard4 button{
    background-color: transparent;
    background-size: cover;
    width: 10vw;
    border-radius: 8px;
    border: 2px solid #1b1c1b;
    height: 8vh;
    color: #1b1c1b;
    font-size: 20px;
    margin-top: 10px;
}

.FooterCard4 button:hover{
    background-color: #1b1c1b;
    background-size: cover;
    width: 10vw;
    border-radius: 8px;
    border: 2px solid #1b1c1b;
    height: 8vh;
    color: #ffffff;
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
}

.FooterCardLi{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #666262;
    font-size: 14px;
    padding: 4px;
    cursor: pointer;
}

.FooterCardLi:hover{
    color: green;
}

.FooterCardLis{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #666262;
    font-size: 14px;
    padding: 4px;
    cursor: pointer;
}

.FooterCardLis:hover{
    color: green;
    font-size: 16px;
}

.FontAwesomeIconText{
    padding-right: 3px;
}

.HeadingFooter{
    color:  #1b1c1b;
    font-size: 30px;
    font-weight: 500;
}

.CarImg{
    height: 220px;
    width: 300px;
}

.FooterContainer1{
    background-color: #ffffff;
    height: 7vh;
    background-size: cover;
    border-top: 1.5px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FooterContainer1 p{
    color: #666262;
    font-weight: 500;
}

.FooterContainer1 span{
    color: green;
    font-weight: 500;
}
}

@media screen and (min-width: 1701px){
.FooterMainContainer{
    display: flex;
    flex-direction: column;
}

.FooterContainer{
    background-color: white;
    background-size: cover;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
}

.FooterCard1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-size: cover;
    height: 40vh;
    width: 25vw;
    padding: 10px;
}

.FooterCardDetails1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.FooterCardDetails1 h1{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #1b1c1b;
}

.FooterCardDetails1 p{
    color: #666262;
    font-size: 34px;
}

.FooterCard2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.FooterCard4{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
    width: 23vw;
    margin-left: 40px;
}

.FooterCard4 p{
    color: #666262;
    font-size: 30px;
    font-weight: 500;
    line-height: 2%;
}

.FooterCard4 input{
    background-color: #edebeb;
    background-size: cover;
    width: 25vw;
    border-radius: 8px;
    border: 2px solid #edebeb;
    height: 8vh;
    color: black;
    font-size: 40px;
    padding-left: 5px;
}

.FooterCard4 button{
    background-color: transparent;
    background-size: cover;
    width: 20vw;
    border-radius: 8px;
    border: 2px solid #1b1c1b;
    height: 8vh;
    color: #1b1c1b;
    font-size: 40px;
    margin-top: 10px;
}

.FooterCard4 button:hover{
    background-color: #1b1c1b;
    background-size: cover;
    width: 20vw;
    border-radius: 8px;
    border: 2px solid #1b1c1b;
    height: 8vh;
    color: #ffffff;
    font-size: 40px;
    margin-top: 10px;
    cursor: pointer;
}

.FooterCardLi{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #666262;
    font-size: 34px;
    padding: 4px;
    cursor: pointer;
}

.FooterCardLi:hover{
    color: green;
}

.FooterCardLis{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #666262;
    font-size: 34px;
    padding: 4px;
    cursor: pointer;
}

.FooterCardLis:hover{
    color: green;
    font-size: 36px;
}

.FontAwesomeIconText{
    padding-right: 3px;
}

.HeadingFooter{
    color:  #1b1c1b;
    font-size: 50px;
    font-weight: 500;
}

.CarImg{
    height: 320px;
    width: 500px;
}

.FooterContainer1{
    background-color: #ffffff;
    height: 7vh;
    min-width: 80vw;
    background-size: cover;
    border-top: 1.5px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FooterContainer1 p{
    color: #666262;
    font-size: 50px;
    font-weight: 500;
}

.FooterContainer1 span{
    color: green;
    font-size: 50px;
    font-weight: 500;
}
}