@media screen and (max-width: 600px){
    .cart-summary-container{
        background-color: transparent;
        min-height: 30vh;
        width: 90vw;
        background-size: cover;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        justify-self:  center;
        padding-right: 30px;
    }
    .order-total-value{
        color: #dbb62e;
        font-size: 21px;
    }
    .order-total-label{
        color: green;
        font-size: 20px;
    }
    .total-items{
        color: #8171eb;
        font-size: 15px;
    }
    .checkout-buttonlg{
        background-color: green;
        height: 8vh;
        min-width: 40vw;
        background-size:cover;
        color: #fff;
        font-size: 20px;
        border: 2px solid green;
        border-radius: 8px;
    }
}

@media screen and (min-width: 601px) and (max-width: 899px){
    .cart-summary-container{
        background-color: transparent;
        min-height: 30vh;
        width: 90vw;
        background-size: cover;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        justify-self:  center;
        padding-right: 30px;
    }
    .order-total-value{
        color: #dbb62e;
        font-size: 21px;
    }
    .order-total-label{
        color: green;
        font-size: 20px;
    }
    .total-items{
        color: #8171eb;
        font-size: 15px;
    }
    .checkout-buttonlg{
        background-color: green;
        height: 8vh;
        min-width: 40vw;
        background-size:cover;
        color: #fff;
        font-size: 20px;
        border: 2px solid green;
        border-radius: 8px;
    }
}

@media screen and (min-width: 900px) and (max-width: 1700px){
    .cart-summary-container{
        background-color: transparent;
        min-height: 30vh;
        width: 90vw;
        background-size: cover;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        justify-self:  center;
        padding-right: 30px;
    }
    .order-total-label{
        color: green;
    }
    .order-total-value{
        color: #dbb62e;
        font-size: 31px;
    }
    .order-total-label{
        color: green;
        font-size: 30px;
    }
    .total-items{
        color: #8171eb;
        font-size: 25px;
    }
    .checkout-buttonlg{
        background-color: green;
        height: 8vh;
        min-width: 40vw;
        background-size:cover;
        color: #fff;
        font-size: 30px;
        border: 2px solid green;
        border-radius: 8px;
    }
}


@media screen and (min-width: 1701px){
    .cart-summary-container{
        background-color: transparent;
        min-height: 30vh;
        width: 90vw;
        background-size: cover;
        margin: 10px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        justify-self:  center;
        padding-right: 30px;
    }
    .order-total-label{
        color: green;
    }
    .order-total-value{
        color: #dbb62e;
        font-size: 31px;
    }
    .order-total-label{
        color: green;
        font-size: 30px;
    }
    .total-items{
        color: #8171eb;
        font-size: 35px;
    }
    .checkout-buttonlg{
        background-color: green;
        height: 8vh;
        min-width: 40vw;
        background-size:cover;
        color: #fff;
        font-size: 50px;
        border: 2px solid green;
        border-radius: 8px;
    }
}