@media screen and (max-width: 576px){
.RegisterContainer{
    background-color:#ab89f0;
    min-height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.SmallRegisterImage{
    height: 300px;
    width: 300px;
    border-radius: 300px;
    margin-top: 20px;
}
/*
@keyframes backgroundImg{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}
*/

.RegisterCardContainer{
    background-color: #92d9fc;
    min-height: 40vh;
    width: 80vw;
    background-size: cover;
    border: 2px solid #27a6e6;
    box-shadow: 0px 0px 10px 0px #27a6e6;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.RegisterCardContainer h1{
    display: none;
}

.RegisterCard1{
    background-color: transparent;
    border: 2px solid #0a121f;
    color: #0a121f;
    height: 7vh;
    width: 60vw;
    background-size: cover;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 5px;
}

.RegisterInput{
    background-color:transparent;
    color: #0a121f;
    outline: none;
    width: 60vw;
    border: none;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.RegCard2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.RegCard2 input{
    height: 3vh;
    width: 3vw;
    cursor: pointer;
}
.RegPass{
    color: #0a121f;
    font-size: 15px;
}

.RegisterIcon{
    display: none;
}

.RegisterBtn{
    background-color: black;
    height: 7vh;
    width: 30vw;
    background-size: cover;
    border-radius: 24px;
    color: #fff;
    margin: 5px;
    border:2px solid black;
    outline: none;
    cursor: pointer;
}

.para_error{
    color: red;
}
}

@media screen and (min-width: 577px) and (max-width: 899px){
.RegisterContainer{
    background-color:#ab89f0;
    min-height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
.SmallRegisterImage{
    height: 300px;
    width: 300px;
    border-radius: 300px;
    margin-top: 20px;
}
/*
@keyframes backgroundImg{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}
*/

.RegisterCardContainer{
    background-color: #92d9fc;
    min-height: 40vh;
    width: 80vw;
    background-size: cover;
    border: 2px solid #27a6e6;
    box-shadow: 0px 0px 10px 0px #27a6e6;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.RegisterCardContainer h1{
    display: none;
}

.RegisterCard1{
    background-color: transparent;
    border: 2px solid #0a121f;
    color: #0a121f;
    height: 7vh;
    width: 60vw;
    background-size: cover;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 5px;
}

.RegisterInput{
    background-color:transparent;
    color: #0a121f;
    outline: none;
    width: 60vw;
    border: none;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.RegCard2{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.RegCard2 input{
    height: 3vh;
    width: 3vw;
    cursor: pointer;
}
.RegPass{
    color: #0a121f;
    font-size: 15px;
}

.RegisterIcon{
    display: none;
}

.RegisterBtn{
    background-color: black;
    height: 7vh;
    width: 30vw;
    background-size: cover;
    border-radius: 24px;
    color: #fff;
    margin: 5px;
    border:2px solid black;
    outline: none;
    cursor: pointer;
}

.para_error{
    color: red;
}
}

@media screen and (min-width: 900px) and (max-width: 1700px){
.RegisterContainer{
    background-image: url("https://i.pinimg.com/1200x/32/ce/a1/32cea1c1a2911d268b4dcb7025681362.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
@keyframes backgroundImg{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}
*/

.RegisterCardContainer{
    background-color: #92d9fc;
    height: 550px;
    width: 550px;
    background-size: cover;
    border: 2px solid #27a6e6;
    box-shadow: 0px 0px 10px 0px #27a6e6;
    border-radius: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    animation: EarthMotion 3s 1s 1 alternate;
}

@keyframes EarthMotion {
    from{
        transform: translateY(100px);
    }to{
        transform: translateY(0px);
    }
}

.RegisterCardContainer h1{
    color: #0a121f;
    text-shadow: 0px 0px 5px #0a121f;
}

.RegisterCard1{
    background-color: transparent;
    border: 2px solid #0a121f;
    color: #0a121f;
    height: 7vh;
    width: 30vw;
    background-size: cover;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 5px;
}
.SmallRegisterImage{
    display: none;
}
.RegisterInput{
    background-color:transparent;
    color: #0a121f;
    outline: none;
    width: 25vw;
    border: none;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.RegCard2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.RegCard2 input{
    height: 3vh;
    width: 3vw;
    cursor: pointer;
}
.RegPass{
    color: #0a121f;
}

.RegisterIcon{
    color: #0a121f;
    background-color: transparent;
    height: 3vh;
    width: 3vw;
    background-size: cover;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    font-size: 10px;
}
.RegisterBtn{
    background-color: black;
    height: 7vh;
    width: 30vw;
    background-size: cover;
    border-radius: 24px;
    color: #fff;
    margin: 5px;
    border:2px solid black;
    outline: none;
    cursor: pointer;
}

.para_error{
    color: red;
}

}
@media screen and (min-width: 1701px){
.RegisterContainer{
    background-image: url("https://i.pinimg.com/1200x/32/ce/a1/32cea1c1a2911d268b4dcb7025681362.jpg");
    height: 100vh;
    width: 100vw;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*
@keyframes backgroundImg{
    from{
        transform: translateX(0%);
    }
    to{
        transform: translateX(100%);
    }
}
*/
.SmallRegisterImage{
    display: none;
}
.RegisterCardContainer{
    background-color: #92d9fc;
    height: 1000px;
    width: 1000px;
    background-size: cover;
    border: 2px solid #27a6e6;
    box-shadow: 0px 0px 10px 0px #27a6e6;
    border-radius: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    animation: EarthMotion 3s 1s 1 alternate;
}

@keyframes EarthMotion {
    from{
        transform: translateY(100px);
    }to{
        transform: translateY(0px);
    }
}

.RegisterCardContainer h1{
    color: #0a121f;
    text-shadow: 0px 0px 5px #0a121f;
}

.RegisterCard1{
    background-color: transparent;
    border: 2px solid #0a121f;
    color: #0a121f;
    height: 5vh;
    width: 30vw;
    background-size: cover;
    border-radius: 24px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    margin: 5px;
}

.RegisterInput{
    background-color:transparent;
    color: #0a121f;
    outline: none;
    width: 25vw;
    border: none;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}

.RegCard2{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.RegCard2 input{
    height: 3vh;
    width: 3vw;
    cursor: pointer;
}
.RegPass{
    color: #0a121f;
}

.RegisterIcon{
    color: #0a121f;
    background-color: transparent;
    height: 3vh;
    width: 3vw;
    background-size: cover;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    font-size: 10px;
}
.RegisterBtn{
    background-color: black;
    height: 5vh;
    width: 30vw;
    background-size: cover;
    border-radius: 24px;
    color: #fff;
    margin: 5px;
    border:2px solid black;
    outline: none;
    cursor: pointer;
}

.para_error{
    color: red;
}

}